.navbar-toggler:focus{

    box-shadow: none;
}
.navbar-toggler:hover{

    background-color: rgba(0, 0, 0, 0.5);
}

body::before{
    content: '';
    display: block;
    height: 60px;

}
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}

@media screen and (min-width: 768px){
    div.news-input{
        width: 50%;

    }
}

